<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: base_header('Main',~{::link})">
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/js/app.js}">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<center>
<body bgcolor="red">
<div th:replace="layout :: header"></div>

<p> 入力画面 </p>

<form action="#" th:action="@{/test}" th:object="${detailForm}" method="post">

<p>タイトル: <textarea rows="2" cols="80" th:field="*{tytle}" /></p>
<p>内容: <textarea rows="10" cols="80" th:field="*{mainMessage}" /></p>

<p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>

<p th:text="*{errorMessage}" />

</form>
<div th:replace="layout :: footer"></div>
</body>
</center>
</html>